# <font color='red'> *ABSOLUTE BEGINNER LEVEL* </font> 
# <font color='red'> DICTIONARIES AND BOOLEANS </font>

# <font color='blue'> 1. CREATE A DICTIONARY WITH 3 OF YOUR FAVOURITE FRIENDS AND THEIR RESPECTIVE AGE AND PRINT OUT THE AGE OF SECOND NAME YOU CHOOSE</font>

In [1]:
friends = {"Emy": "27 anos",
           "Caio": "20 anos",
           "Pedro" : "23 anos"}

print(friends["Caio"])

20 anos

# <font color='blue'> 2. CREATE A DICTIONARY WITH 3 OF YOUR FAVOURITE FRIENDS AND THEIR RESPECTIVE HOURLY WAGE AND OBTAIN THE AVERAGE OF ALL THEIR SALARIES </font>

In [2]:
friends = {"Emy": 100,
           "Caio": 20,
           "Pedro" : 30}

print("Average salary:",(friends["Emy"]+friends["Caio"]+friends["Pedro"])/3)

Average salaries: 50.0

# <font color='blue'> 3. UPDATE THE PREVIOUS DICTIONARY WITH TWO OF YOUR NEXT FAVOURITE FRIENDS AND THEIR RESPECTIVE SALARIES AND OBTAIN THE AVERAGE OF ALL THEIR SALARIES </font>

In [3]:
friends["Sol"] = 60
friends["Estrela"] = 40

In [4]:
print("Average salary:",(friends["Emy"]+friends["Caio"]+friends["Pedro"]+friends["Sol"]+friends["Estrela"])/5)

Average salaries: 50.0

# <font color='blue'> 4. WRITE A CODE THAT MULTIPLIES ALL THE ELEMENTS IN THE FOLLOWING DICTIONARY

In [5]:
my_dict = {'data1':500,
           'data2':-10,
           'data3':300}
print("Multiplication:",(my_dict["data1"]*my_dict['data2']*my_dict['data3']))

Multiplication: -1500000

# <font color='blue'> 5. FOR EACH OF THE STUDENTS LIST BELOW, CALCULATE THE AVERAGE MARK FOR THE MIDTERM AND FINAL EXAMS FOR EACH STUDENT AND PUT THE AVERAGE IN A SEPARATE DICTIONARY ALONG WITH WITH THE STUDENT ID

In [11]:
student_details = [
  {'student_id' : 1, 'subject' : 'math', 'midterm' : 60, 'final' : 85},
  {'student_id' : 2, 'subject' : 'math', 'midterm' : 80, 'final' : 78},
  {'student_id' : 3, 'subject' : 'math', 'midterm' : 90, 'final' : 85}
]

average_1 = (student_details[0]["midterm"]+student_details[0]["final"])/2
average_2 = (student_details[1]["midterm"]+student_details[1]["final"])/2
average_3 = (student_details[2]["midterm"]+student_details[2]["final"])/2


my_average = [{'student_id': 1, 'average' : average_1},
              {'student_id': 2, 'average' : average_2},
              {'student_id': 3, 'average' : average_3}
             ]

print(my_average)

[{'student_id': 1, 'average': 72.5}, {'student_id': 2, 'average': 79.0}, {'student_id': 3, 'average': 87.5}]

# <font color='blue'> 6. REPEAT THE PREVIOUS EXERCISE BUT ADD THE AVERAGE IN A NEW DICTINARY LINE WITH "AVERAGE" AS A KEY

In [12]:
student_details = [
  {'student_id' : 1, 'subject' : 'math', 'midterm' : 60, 'final' : 85},
  {'student_id' : 2, 'subject' : 'math', 'midterm' : 80, 'final' : 78},
  {'student_id' : 3, 'subject' : 'math', 'midterm' : 90, 'final' : 85}
]

average_1 = (student_details[0]["midterm"]+student_details[0]["final"])/2
average_2 = (student_details[1]["midterm"]+student_details[1]["final"])/2
average_3 = (student_details[2]["midterm"]+student_details[2]["final"])/2


my_average = [{'average' : average_1, 'student_id': 1},
              {'average' : average_2, 'student_id': 2},
              {'average' : average_3, 'student_id': 3}
             ]

print(my_average)

[{'average': 72.5, 'student_id': 1}, {'average': 79.0, 'student_id': 2}, {'average': 87.5, 'student_id': 3}]

# <font color='blue'> 7. SQUARE EACH ELEMENT IN THE FOLLOWING DICTIONARY

In [13]:
dictionary = {'C1' : [10,20,30],
              'C2' : [20,30,40]}

dictionary['C1'] = [dictionary['C1'][0]**2 , dictionary['C1'][1]**2, dictionary['C1'][2]**2]
dictionary['C2'] = [dictionary['C2'][0]**2 , dictionary['C2'][1]**2, dictionary['C2'][2]**2]

print(dictionary)

{'C1': [100, 400, 900], 'C2': [400, 900, 1600]}

# <font color='blue'>  8. CREATE A LIST OF ALL KEYS AND A LIST OF ALL VALUES AND THE TOTAL SUM OF ALL VALUES

In [17]:
my_salary = {"alex": 25, "sally": 28, "dina": 30}
name = list(my_salary.keys())
print (name)
value = list(my_salary.values())
print (value)
sum = my_salary["alex"] + my_salary["sally"] + my_salary["dina"]
print (sum)

['alex', 'sally', 'dina']
[25, 28, 30]
83

# <font color='blue'>  9. OBTAIN THE LENGTH OF THE FOLLOWING DICTIONARY AND SORT ITS ELEMENTS

In [18]:
my_dict = {"sally": 23, "dina": 22, "holy": 50, "Joe": 10, "Peter": 44}
print(len(my_dict.values()))
print(sorted(my_dict.values()))

5
[10, 22, 23, 44, 50]

# <font color='blue'> 10. FILTER OUT VALUES THAT ARE GREATER THAN OR EQUAL TO 30 (ADVANCED)(TO BE COVERED) </font>

In [ ]:
my_dictionary = {"Key 1": 20, "Key 2": 30, "Key 3": 50}

# <font color='blue'> 11. WHAT WILL THIS CODE GENERATE? </font>

In [10]:
x = 10
y = 20
print(x>y)
print(x<y)
print(x==y)
print(x!=y)

False
True
False
True

# NOW YOU SHOULD BE FAMILIAR WITH DICTIONARIES, GREAT JOB!