# <font color='red'> *ABSOLUTE BEGINNER LEVEL* </font> 
# <font color='red'> SETS AND TUPLES </font>

# <font color='blue'> 1. PRINT HELLO FOLLOWED BY THE NAMES AND THE AGE IN THE TUPLE

In [1]:
my_tuple = ("chanel", 26)
print("Hello", my_tuple[0])
print("Age:",my_tuple[1])

Hello chanel
Age: 26

# <font color='blue'> 2. DEFINE A TUPLE WITH 6 OF YOUR FAVOURITE FRIENDS, PRINT (1) ALL THE TUPLE, (2) LAST ELEMENT, (2) FIRST TWO ELEMENTS

In [2]:
my_tuple = ("caio","pedro","emy","estrela","sol","lua")

In [3]:
print(my_tuple[-1])

lua

In [5]:
print(my_tuple[0:2])

('caio', 'pedro')

#  <font color='blue'> 3. DEFINE A TUPLE WITH YOUR FIRST NAME, LAST NAME AND AGE. FIND THE LENGTH AND THE TYPE AS WELL.

In [6]:
me = ("lia","morimoto",24)

In [7]:
len(me)

3

In [8]:
type(me)

tuple

# <font color='blue'> 4. PRINT THE NUMBER "40", PRINT THE WORD "WORLD", PRINT THE NUMBER 25, AND PRINT THE ENTIRE LIST AND TUPLE LISTED BELOW

In [10]:
my_tuple = ("hello", [87, 40, 60], "world", (10, 25, 30))
print(my_tuple[1][1])
print(my_tuple[2])
print(my_tuple[1])
print(my_tuple[3])

40
world
[87, 40, 60]
(10, 25, 30)

# <font color='blue'> 5.EXECUTE THE FOLLOWING COMMANDS AND EXPLAIN WHAT WENT WRONG AND WHAT WENT RIGHT!

In [11]:
my_tuple = (40, 3, 2, [10, 4])

my_tuple[2] = 10
#tuplas são uma sequência imutáveis de objetos

TypeError: 'tuple' object does not support item assignment

In [12]:
my_tuple[3][0] = 9
print(my_tuple)
#mudança de um elemento de lista dentro da tupla

(40, 3, 2, [9, 4])

# <font color='blue'> 6.EXECUTE THE FOLLOWING COMMANDS AND EXPLAIN WHAT WENT WRONG AND WHAT WENT RIGHT!

In [13]:
my_tuple = (40, 3, 2, [10, 4])

del my_tuple[3]
#tuplas são uma sequência imutáveis de objetos

TypeError: 'tuple' object doesn't support item deletion

In [14]:
del my_tuple
print(my_tuple)
#apagou a tupla toda

NameError: name 'my_tuple' is not defined

# <font color='blue'> 7. CHECK IF THE NAME "PYTHON" EXISTS IN A TUPLE

In [15]:
my_tuple = ('math','science','science','python','english')
print('python' in my_tuple)

True

# <font color='blue'> 8. REMOVE THE DUPLICATES FROM THE FOLLOWING LIST   </font>

In [16]:
my_list = ["2", 50, "2", 50, 4, 6, 9, 9]
lista = set(my_list)
print(lista)

{4, 6, 9, '2', 50}

#  <font color='blue'> 9. ADD YOUR NAME TO THE FOLLOWING SET AND CONVERT INTO A LIST

In [17]:
my_set = {"sara", "mike", "jon", "jon", "mike"}
lista = list(my_set)
lista.append("yumi")
print(lista)

['sara', 'mike', 'jon', 'yumi']

#  <font color='blue'> 10. RUN THIS CODE AND EXPLAIN WHAT IT DOES (WE WILL COVER IF CONDITIONS NEXT)

In [18]:
my_grocery = {"banana", "cherry"}

if ("orange" in my_grocery):
  print("Yes, I have got orange in my grocery list!")

In [19]:
my_grocery = {"orange", "banana", "cherry"}

if ("orange" in my_grocery):
  print("Yes, I have got orange in my grocery list!")

Yes, I have got orange in my grocery list!

# NOW YOU SHOULD BE FAMILIAR WITH SETS AND TUPLES, GREAT JOB!