# <font color='red'> *ABSOLUTE BEGINNER LEVEL* </font> 
# <font color='red'> SETS AND TUPLES </font>

# <font color='blue'> 1. PRINT HELLO FOLLOWED BY THE NAMES AND THE AGE IN THE TUPLE

In [ ]:
my_tuple = ("chanel", 26)

print("Hello {}, you are {} years old!".format(my_tuple[0], my_tuple[1]))

# <font color='blue'> 2. DEFINE A TUPLE WITH 6 OF YOUR FAVOURITE FRIENDS, PRINT (1) ALL THE TUPLE, (2) LAST ELEMENT, (2) FIRST TWO ELEMENTS

In [2]:
my_tuple = ("chanel", "mitch", "sarah", "cynthia", "diane", "steeve")
print(my_tuple)

('chanel', 'mitch', 'sara', 'cynthia', 'diane', 'steeve')

In [5]:
print(my_tuple[-1])

steeve

In [7]:
print(my_tuple[0:2])

('chanel', 'mitch')

#  <font color='blue'> 3. DEFINE A TUPLE WITH YOUR FIRST NAME, LAST NAME AND AGE. FIND THE LENGTH AND THE TYPE AS WELL.

In [13]:
my_tuple = ("Ryan", "ahmed", 25)
print(my_tuple)

('Ryan', 'ahmed', 25)

In [14]:
len(my_tuple)

3

In [15]:
type(my_tuple)

tuple

# <font color='blue'> 4. PRINT THE NUMBER "40", PRINT THE WORD "WORLD", PRINT THE NUMBER 25, AND PRINT THE ENTIRE LIST AND TUPLE LISTED BELOW

In [20]:
my_tuple = ("hello", [87, 40, 60], "world", (10, 25, 30))

print(my_tuple[1][1])

print(my_tuple[2])

print(my_tuple[3][1])

print(my_tuple[1])

print(my_tuple[3])

40
world
25
[87, 40, 60]
(10, 25, 30)

# <font color='blue'> 5.EXECUTE THE FOLLOWING COMMANDS AND EXPLAIN WHAT WENT WRONG AND WHAT WENT RIGHT!

In [24]:
my_tuple = (40, 3, 2, [10, 4])

my_tuple[2] = 10

TypeError: 'tuple' object does not support item assignment

In [25]:
my_tuple[3][0] = 9
print(my_tuple)

(40, 3, 2, [9, 4])

# <font color='blue'> 6.EXECUTE THE FOLLOWING COMMANDS AND EXPLAIN WHAT WENT WRONG AND WHAT WENT RIGHT!

In [26]:
my_tuple = (40, 3, 2, [10, 4])

del my_tuple[3]

TypeError: 'tuple' object doesn't support item deletion

In [27]:
del my_tuple
print(my_tuple)

NameError: name 'my_tuple' is not defined

# <font color='blue'> 7. CHECK IF THE NAME "PYTHON" EXISTS IN A TUPLE

In [28]:
my_tuple = ('math','science','science','python','english')

print('python' in my_tuple)

print('Python' in my_tuple)

print('physics' not in my_tuple)

True
False
True

# <font color='blue'> 8. REMOVE THE DUPLICATES FROM THE FOLLOWING LIST   </font>

In [33]:
my_list = ["2", 50, "2", 50, 4, 6, 9, 9]
out_list = list(set(my_list))
print(out_list)

[4, 6, '2', 9, 50]

#  <font color='blue'> 9. ADD YOUR NAME TO THE FOLLOWING SET AND CONVERT INTO A LIST

In [38]:
my_set = {"sara", "mike", "jon", "jon", "mike"}

my_set.add("ryan")

print(my_set)

{'sara', 'jon', 'mike', 'ryan'}

In [39]:
out_list = list(my_set)
print(out_list)

['sara', 'jon', 'mike', 'ryan']

#  <font color='blue'> 10. RUN THIS CODE AND EXPLAIN WHAT IT DOES (WE WILL COVER IF CONDITIONS NEXT)

In [42]:
my_grocery = {"banana", "cherry"}

if ("orange" in my_grocery):
  print("Yes, I have got orange in my grocery list!")

In [ ]:
my_grocery = {"orange", "banana", "cherry"}

if ("orange" in my_grocery):
  print("Yes, I have got orange in my grocery list!")

# NOW YOU SHOULD BE FAMILIAR WITH SETS AND TUPLES, GREAT JOB!